body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f3ebe1;
    color: #3f3d54;
}

.top-bar {
    background: linear-gradient(135deg, #f6d0e1, #f6d0e1);
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.top-bar a:not(.logo) {
    background-color: #6f5b98;
    border-radius: 10px;
    color: #f3ebe1;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.top-bar a:not(.logo):hover {
    background-color: #6f5b98;
    color: #f3ebe1;
    transform: scale(1.05);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
}

.logo {
    font-family: 'Permanent Marker', cursive;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
    color: #3f3d54;
    text-decoration: none;
    background: none;
    transition: scale 0.3s ease;
    border: 2px solid #3f3d54;
    padding: 3px 10px;
    border-radius: 4px;
}

.logo:hover {
    scale: 1.02;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 20px 0;
    color: #3f3d54;
}

.photo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 5px solid #f6d0e1;
    background: #f3ebe1;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(35, 35, 35, 0.6);
}

.description {
    font-size: 1.25em;
    margin: 20px 0;
    color: #3f3d54;
    line-height: 1.6;
}

.buttons a, .buttons button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: normal;
    color: #f3ebe1;
    background-color: #6f5b98;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 10px rgba(35, 35, 35, 0.2);
}

.buttons a:hover, .buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(35, 35, 35, 0.7);
}


/* Контейнер для отзывов */

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    row-gap: 60px;
}

.review-item {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    box-shadow: 0px 0px 5px rgb(35, 35, 35, 0.4);
    background-color: #141412;
    padding: 5px;
    border-radius: 8px;
    border: 4px solid #6f5b98;
    width: 350px;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-item img {
    width: 100%;
    height: auto;
    display: block;
}

.review-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(35, 35, 35, 0.6);
}

/* Стили для видео-кружков */
.review-item-video {
    width: 350px; /* Размер видео */
    height: 400px; /* Автоматическая высота */
    display: block;
    border-radius: 50%; /* Применение радиуса к самому видео */
    margin: 0 auto;
    position: relative;
}

.review-item-video video {
    width: 100%; /* Видео будет занимать всю ширину контейнера */
    height: auto;
    display: block;
    border: 4px solid #5a4a7d;
    border-radius: 50%; /* Применение радиуса к самому видео */
    box-shadow: 0px 0px 10px rgb(35, 35, 35, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.review-item-video video:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(35, 35, 35, 0.6);
}

/*.form-group {*/
/*    margin-bottom: 15px;*/
/*}*/
.telegram-link {
    display: inline-block;
    margin-bottom: auto; /* Автоматическое смещение кнопки вниз */
    font-size: 0.9em;
    color: #f3ebe1;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #6f5b98;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 5px rgba(35, 35, 35, 0.4);
}

.telegram-link:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.6);
}


/*Forms*/

.survey-container {
    background-color: #f3ebe1;
    border-radius: 8px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.35);
    padding: 40px;
    margin-top: 20px;
}


.btn {
    background-color: #6f5b98;
    color: #f3ebe1;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(35, 35, 35, 0.7);
}

/* Стили для модального окна */
.openModal {
    display: inline-block;
    background-color: #6f5b98;
    color: #f3ebe1;
    padding: 10px 20px;
    margin-left: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.openModal:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(35, 35, 35, 0.7);
}


#consultationModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal.show {
    display: block;
}

.modal-content {
    background-color: #f3ebe1;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для формы */
#consultationForm {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #3f3d54;
}

input[type="text"],
input[type="email"],
input[type="tel"],
#id_password,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #6f5b98;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #5a4a7d;
}

/*FORMS*/

/* Стили для контейнера блока вопроса */
.question-block {
    border: 1px solid #f3ebe1; /* Цвет и толщина рамки */
    border-radius: 4px; /* Скругление углов */
    padding: 10px; /* Отступ внутри блока */
    padding-inline: 70px;
    margin-bottom: 40px; /* Отступ снизу */
    background-color: #f3ebe1; /* Фоновый цвет */
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.5);

}

/* Стили для текста вопросов */
.question-text {
    font-size: 18px; /* Размер шрифта */
    color: #3f3d54; /* Цвет текста */
    margin-bottom: 5px; /* Отступ снизу */
    display: block; /* Чтобы отступы работали */
}

/* Стили для описания вопросов */
.question-description {
    font-size: 15px; /* Размер шрифта */
    color: rgba(63, 61, 84, 0.8); /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
    display: block; /* Чтобы отступы работали */
}

/* Стили для текстового поля */
.custom-textarea {
    width: 70%;
    min-height: 40px;
    height: 40px; /* Устанавливаем фиксированную начальную высоту */
    font-size: 15px;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: hidden; /* Скрываем полосу прокрутки по умолчанию */
}


/* Фокусное состояние текстового поля */
.custom-textarea:focus {
    /*background: #dedede;*/
    border: 1px solid;
    border-color: #6f5b98;
}


.custom-checkbox-select {
    display: block; /* Размещаем каждый чекбокс с текстом на новой строке */
    margin-bottom: 10px; /* Отступ между чекбоксами */

}

.custom-checkbox-select label {
    display: flex;
    align-items: center; /* Выравниваем чекбокс и текст по вертикали */
    gap: 5px; /* Пространство между чекбоксом и текстом */
    box-shadow: 0px 0px 3px rgba(35, 35, 35, 0.08);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 4px;


}

.custom-checkbox-select label:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px rgba(35, 35, 35, 0.4);

}


.custom-checkbox-select input[type="checkbox"] {
    margin-top: 10px; /* Тонкая настройка, если требуется */
}


/*User contact form*/
/* Стили для всех пяти полей */
input[name="name"],
input[name="contact"],
input[name="location"],
input[name="email"] {
    background-color: #f0f0f0;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.5);

}


/* Стили для меток (label) этих полей */
label[for="id_name"],
label[for="id_contact"],
label[for="id_location"],
label[for="id_email"] {
    font-weight: bold;
    color: #3f3d54;
    margin-bottom: 5px;
    display: block;
}

/*Ошибки авторизации*/
.errorlist {
    color: red; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    background-color: #f8d7da; /* Фон ошибки */
    border: 1px solid #f5c6cb; /* Граница ошибки */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    list-style-type: none; /* Убрать маркеры списка */
    margin: 0; /* Убрать внешние отступы */
}

.wrapper {
    margin-left: 220px; /* Отступ для контента справа от меню */
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 75px;
    width: 200px;
    height: 100%; /* Занимает всю высоту страницы */
    background-color: #f6d0e1;
    padding: 15px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
    margin-top: 200px;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #f6f6f6;
    font-weight: bold;
    display: block;
    padding: 10px;
    background-color: #5a4a7d;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.sidebar ul li a:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);

}

.content {
    padding: 20px;
}

body > div.container > form {
    /*width: 30%;*/
}


@media (max-width: 780px) {
    .logo {
        font-size: 1em;
        padding: 3px 3px;
        margin-right: auto;
    }

    .top-bar {
        justify-content: flex-end;
        padding: 7px 5px;
    }

    .top-bar a:not(.logo) {
        margin-left: 8px;
        font-size: 0.7em;
        padding: 9px 8px;
    }

    .openModal {
        margin-left: 8px;
        font-size: 0.7em;
        padding: 9px 8px;

    }

    .reviews-grid {
        grid-template-columns: 1fr; /* Сетка из одного столбца */
        justify-items: center; /* Центрируем элементы по горизонтали */
    }

    .review-item, .review-item-video {
        width: 90%; /* Устанавливаем ширину контейнера в 90% от экрана */
    }

    /*.review-item a {*/
    /*    padding: 4px 8px; !* Уменьшенное расстояние внутри кнопки *!*/
    /*    font-size: 12px; !* Уменьшенный размер шрифта *!*/
    /*}*/
}

@media (min-width: 950px) and (max-width: 1150px) {
    .reviews-grid {
        grid-template-columns: repeat(2, 1fr); /* Два столбца вместо четырех */
        gap: 20px; /* Расстояние между элементами */
    }

    .review-item,
    .review-item-video {
        margin-bottom: 20px; /* Расстояние между рядами */
    }
}


