{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <h1>Привет, я Оля.</h1>
    <div class="photo">
        <img src="{% static 'myapp/images/photo.jpg' %}" alt="photo">
    </div>
    <div class="description">
        Здесь вы можете узнать больше о моих занятиях по английскому языку для взрослых. Я использую современные и
        актуальные материалы, чтобы помочь вам развить языковые навыки в комфортной и поддерживающей обстановке.
        Независимо от вашего уровня, вы сможете найти подходящее обучение и двигаться вперед в своем темпе.
    </div>
    <div class="buttons">
        <a href="reviews">Отзывы</a>
        <a href="explore-topics">Посмотреть как я объясняю темы</a>
        <a href="questionnaire">Оставить супер полную заявку с уровнем</a>
        <a href="#">Записаться на консультацию</a>
    </div>


{% endblock %}
