{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h1>{{ title }}</h1>
    <div class="reviews-grid">
        <!-- Видео-кружки из Telegram -->
        <div class="review-item-video">
            <video controls>
                <source src="{% static 'myapp/videos/circle_1.mp4' %}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <a href="#" class="telegram-link">Спросить лично в Telegram</a>
        </div>

        <!-- отзывы-картинки -->
        <div class="review-item">
            <img src="{% static 'myapp/images/review_1.jpeg' %}" alt="Отзыв 1">
            <a href="#" class="telegram-link">Спросить лично в Telegram</a>
        </div>

        <div class="review-item">
            <img src="{% static 'myapp/images/review_2.jpeg' %}" alt="Отзыв 2">
            <a href="#" class="telegram-link">Спросить лично в Telegram</a>
        </div>

        <div class="review-item">
            <img src="{% static 'myapp/images/review_3.jpeg' %}" alt="Отзыв 3">
            <a href="#" class="telegram-link">Спросить лично в Telegram</a>
        </div>

        <div class="review-item">
            <img src="{% static 'myapp/images/review_4.jpeg' %}" alt="Отзыв 4">
            <a href="#" class="telegram-link">Спросить лично в Telegram</a>
        </div>


    </div>

{% endblock %}




