{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="survey-container">
        <h1>{{ survey.title }}</h1>
        <p class="description">{{ survey.description|linebreaksbr }}</p>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != '' %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit">Отправить ответ</button>
        </form>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'myapp/js/autoresize.js' %}"></script>
{% endblock %}