{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="survey-container">
        <h1>{{ survey.title }}</h1>
        <p class="description">{{ survey.description|linebreaksbr }}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Отправить</button>
        </form>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'myapp/js/autoresize.js' %}"></script>
{% endblock %}